---
layout: default
---
<header class="header">
  <h1 class="header-title">
    {{ site.name }}
  </h1>
  <p>
    I build products for fun and profit.
    When I'm not working on my own projects, I like helping companies and entrepreneurs with their tech.
    Been coding backends and apps in JavaScript for the past 7+ years.
    Best way to contact me is on <a href="https://twitter.com/ksaitor">Twitter</a>.
  </p>
</header>
{% include mailchimp.html %}

<hr/>
<div class="list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="list-post">
    {% if post.link %}
    <a href="{{ post.link }}">
    {% else %}
    <a href="{{ post.url | prepend: site.baseurl }}">
    {% endif %}
      <div class="list-post-date">
        <time>{{ post.date | date_to_string }}</time>
      </div>
      <h2 class="list-post-title">
        {{ post.title }}
      </h2>
      {% if post.excerpt %}
      <div class="list-post-desc">
        {{ post.excerpt }}
      </div>
      {% endif %}
    </a>
    <a href="{{ post.url | prepend: site.baseurl }}" class="continue-reading-btn">Continue reading →</a>
  </div>
{% endfor %}
  <!-- Pagination links -->
  <div class="list-pagination">
    <span class="list-pagination-previous">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Previous
        </a>
      {% else %}

      {% endif %}
    </span>

    <span class="list-pagination-next">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
          Next
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      {% else %}

      {% endif %}
    </span>

  </div>
{% endif %}
</div>
