<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/images/profile-square-3.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css" />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS Feed for {{ site.name }}"
    href="{{ site.baseurl }}/feed.xml"
  />
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  {% if page.og-image and page.og-image != empty %} {% assign og-image = page.og-image %} {% elsif page.title %} {%
  assign og-image = 'https://placid.app/u/8pxvaj4?title=' | append: page.title %} {% else %} {% assign og-image =
  site.url | append: '/assets/images/fb-og.jpg' %} {% endif %}
  <meta name="twitter:image" content="{{ og-image | replace: ' ', '+'  }}" />
  <meta property="og:image" content="{{ og-image | replace: ' ', '+' }}" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:width" content="1200" />
  {% seo %}

  {% if page.layout == 'post' %} {% assign seo-description = page.description | default: page.excerpt | strip_html |
  truncatewords: 30 %} {% else %} {% assign seo-description = site.description %} {% endif %}
  <meta name="twitter:description" content="{{ seo-description }}" />
  {% include google-analytics.html %}
</head>
