<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <h3>P.S. Sign up to my newsletter</h3>
  <p>
    Hey, I rarely send these, but when I do, you'll be the first to know!
  </p>
  <form action="//Eventmetrics.us3.list-manage.com/subscribe/post?u=16a60b48a3e3cacf52f23097e&amp;id=afd86e50ec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="You email address" required>
    <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button">
    <span style='display:none'>
      <input type="text" name="b_16a60b48a3e3cacf52f23097e_afd86e50ec" tabindex="-1" value="">
    </span>
  </form>
</div>
<!--End mc_embed_signup-->
