#mc_embed_signup {
  background: #fff;
  clear: left;
  width: 100%;
  // text-align: center;
  h3, p {
    margin: 0;
    padding: 0;
  }
  p {
    // font-size: 0.8em;
  }

  input {
    font-size: 18px;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid $link-color;
    outline: none;
  }
  input[type="email"] {
    max-width: 350px;
    margin: 0.5em auto;
  }
  input[type="submit"] {
    cursor: pointer;
    background-color: $link-color;
    color: white;
    -webkit-appearance: none;
  }
}
