---
layout: default
---

<div class="meta-header">
  <a href="{{ site.url }}{{ site.baseurl }}">
    <img class="profile-pic" src="{{ site.baseurl }}/assets/images/profile-square-3.png" />
  </a>
  <div class="text">
    <a class="author" href="{{ site.url }}{{ site.baseurl }}">Raman Shalupau</a>
  </div>
</div>
<br />
<br />
<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
<iframe src="https://ksaitor.substack.com/embed" width="100%" height="320"
  style="border: 1px solid #eee; background: white;" frameborder="0" scrolling="no"></iframe>
