---
layout: default
---

{% include meta-header.html %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <article>
    {{ content }}
  </article>

  <hr />
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          <span>{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
  </div>

  <iframe src="https://ksaitor.substack.com/embed" width="100%" height="320"
    style="border: 1px solid #eee; background: white;" frameborder="0" scrolling="no"></iframe>

  <!-- Disqus -->
  {% if page.comments != false and site.disqus.id %}
  <div class="post-disqus">
    <section id="disqus_thread"></section>
    {% include disqus.html %}
  </div>
  {% endif %}

</div>
